.clearfix::before,.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.w_80{
    width:1200px;
    margin:auto;
}
body{
    height: 1450px;
    width: 100%;
    background-color: #f6f6f6;
}
/* 头部 */
.header{
    height: 650px;
    background-color: rgb(246, 250, 23);
}
/* 导航栏 */
.daohang{
    margin-top: 200px;
    height: 50px;
    background-color:#045995;
    border-left: ivory 1px solid;
    position: relative;
}
.daohang{
    text-align: center; 
}
.daohangdiv > .juzhong{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
}
.nav{
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: pink;
}
.nav a{
    font-size: 12px;
    display: block;
    float: left;
}
    
   

/* 主体 */
.content{
    height: 670px;
    background-color: rgb(212, 189, 185);
}
.tuzhan{
    width: 50%;
    height: 460px;
    float: left;
    background-color: yellow;
}

.new_list{
    width: 50%;
    height: 460px;
    float: left;
    background-color: green;
}
.laoshi{
    width: 100%;
    height: 200px;
    float: left;
    background-color: indianred;
}
/* 底部 */
.footer{
    height: 80px;
    background-color: rgb(1, 149, 194);
}
.footer p{
    text-align: center;
    margin: 3px;
    color:#dad6d6 ;
}